[Unit]
Description=Consul Agent
Requires=network-online.target private-ip.service
After=network-online.target private-ip.service

[Service]
Type=idle
EnvironmentFile=-/etc/default/private-ip
Environment=GOMAXPROCS=2
ExecStart=/usr/local/bin/consul agent -server -dc {{cluster.environment}} -config-dir {{consul.config_dir}} -data-dir /var/consul/data/ -ui -bind ${PRIVATE_IP} -bootstrap-expect {{consul.bootstrap_expect}} -retry-join "provider=aws tag_key=consul-join tag_value={{consul.join}} region={{consul.aws_region}}"
Requires=network-online.target
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target